@keyframes pulse {
  0%,
  5% {
    transform: scale(.99);
  }
  10% {
    transform: scale(.991);
  }
  15% {
    transform: scale(.992);
  }
  20% {
    transform: scale(.993);
  }
  25% {
    transform: scale(.994);
  }
  30% {
    transform: scale(.995);
  }
  35% {
    transform: scale(.996);
  }
  40% {
    transform: scale(.997);
  }
  45% {
    transform: scale(.998);
  }
  50% {
    transform: scale(.999);
  }
  60% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

:local(.c_Header) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

:local(.c_Header_Main) {
  top: 0px;
  position: absolute;
  left: 0;
  right: 0;
  font-size: 50px;
  height: 100px;
}

:local(.c_Header_Sub) {
  top: 100px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  height: 50px;
  font-size: 25px;
  font-weight: light;
}

:local(.c_Header_Main__Text) {
  color: #2f2f2f;
  animation: pulse 1s infinite alternate ease-in-out;
}

:local(.c_Header_Sub__Text) {
  color: #b7b7b7;
  padding-right: 5px;
  padding-left: 5px;
}

:local(.c_Header__Darker) {
  background-color: #e2e2e2;
}

:local(.c_Header__Lighter) {
  background-color: #FFFFFF;
}
